* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ******** section-1__________________all link icon ************ */
*/ .section_1 {
  box-sizing: border-box;
}
.special {
  display: flex;
  justify-content: space-between;
  background-color: #002147;
  color: whitesmoke;
  padding: 1% 5% 1% 5%;
}
#property {
  padding-right: 15px;
  background-color: #002147;
  font-size: 18px;
}
.special-col-1,
.special-col-2 {
  background-color: #002147;
}
#yellow {
  color: #f8b90c;
  background-color: #002147;
}
.fa-brands {
  background-color: #002147;
}
/* ==================== */
/* ******** section-2__________________menu drop down bar************ */

.section_2 {
  box-sizing: border-box;
  padding: 1rem;
}
.nav-col1 figure img {
  background-size: cover;
  width: 5rem;
}
.MenuDropDown1 {
  display: flex;
  background-color: #ffffff;
  /* padding-top: 2rem; */
  /* width: 70rem; */
  height: 8rem;
  margin: 0px auto;
  column-gap: 0.5rem;
}
.nav-col2 {
  background-color: inherit;
}
.nav-col2 address p {
  font-size: 0.8rem;
}
.nav-col2 address h3 {
  font-size: 1.3rem;
  color: #002147;
  /* font-weight: 1000; */
}
.MenuDropDown1 ul {
  padding: 0px;
}
/* .nav-col3_subMenuSection {
  
} */
.nav-col3_subMenuSection li a span {
  background-color: gainsboro;
  text-decoration: none;
}
/* .nav-col3_subMenuSection:nth-child() {
  background: gainsboro;
} */
.MenuDropDown1 ul li {
  /* background-color: gray; */
  color: #002147;
  float: left;
  /* menu-width */
  width: 8rem;
  list-style: none;
  line-height: 1.9rem;
  font-size: 1.1rem;
  /* font-weight: bold; */
  text-align: center;
  /* opacity: 0.9; */
}
.MenuDropDown1 ul li .fa {
  background-color: #ffffff;
  font-size: medium;
}
.MenuDropDown1 ul li ul {
  display: none;
  background-color: gainsboro;
}

div ul li:hover {
  color: #f8b90c;
  cursor: pointer;
  font-weight: 550;
  /* opacity: 0.9; */
  text-decoration: underline;
}
div ul li:hover > ul {
  display: block;
  /* text-decoration: none; */
}
.MenuDropDown1 ul li ul li {
  position: relative;
}
.MenuDropDown1 ul li ul li ul {
  position: absolute;
  /* menu-width */
  left: 9rem;
  top: 0;
}
.MenuDropDown1 ul li ul {
  color: #002147;
  text-decoration: none;

  font-size: 0.9rem;
  font-weight: lighter;
}
.MenuDropDown1 ul li ul li a {
  text-decoration: none;
  color: #413a3bd3;
}

.MenuDropDown1 ul li ul li a :hover {
  text-decoration: none;
}
/* ================================================= */
/* ================================================= */

/* ********************contact .html.......part***************** */
.contact_bold {
  box-sizing: border-box;
}
.page_header {
  padding: 2.5rem 0 2.5rem 4rem;
  font-size: 13px;
  color: #333333;
  background: #f5f5f5;
}
.connect_title {
  padding-top: 0.7rem;
}
.contact_section {
  display: flex;
  padding: 3.5rem;
  /* width: 50%; */
}
.contact_deatils {
  width: 50%;
  padding-right: 2.5rem;
}
.contact_form {
  width: 50%;
  padding: 0 2rem 1rem 2rem;
}
.contact_deatils .col-1 {
  width: auto;
  /* background-color: #ffffff; */
}

/* contact deatils */
.footer-col-1 h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col-1 {
  background-color: inherit;
}

.footer-col-1 h4 {
  font-size: 30px;
  color: #24262b;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 900;
  position: relative;
  background-color: inherit;
}
.footer-col-1 ul {
  list-style: none;
  background-color: inherit;
}

.footer-col-1 ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col-1 ul li {
  margin-top: 2rem;
  background: white;
}
.footer-col-1 ul {
  padding: 0;
}

.footer-col-1 ul li a {
  font-size: 20px;
  text-transform: capitalize;
  margin: 0;
  text-decoration: none;
  font-weight: 300;
  color: #333333;
  display: block;
  transition: all 0.3s ease;
}
.footer-col-1 ul li a:hover {
  padding-left: 10px;
}

.footer-col-1 .fa-solid {
  color: #f8b90c;
  background: none;
}
/* contact form  */

.cont_form {
  padding: 1rem 2.5rem 4rem 2.5rem;
  width: 100%;
  background-color: white;
  box-shadow: 2px 2px 3px gray;
}

.cont_form #info {
  /* padding: 3px; */
  background-color: white;
}

input[type='email'],
input[type='name'],
input[type='text'],
input[type='number'] {
  width: 100%;
  background-color: white;
  padding: 15px;
  border: 1px solid #bbbbbb;
  margin: 5px;
  border-radius: 5px;
}
#class-name {
  width: 100%;
  background-color: white;
  padding: 15px;
  border: 1px solid #bbbbbb;
  margin: 5px;
  border-radius: 5px;
}
.submit {
  width: 85px;
  border: none;
  padding: 13px;
  margin: 12px;
  color: whitesmoke;
  background-color: #002147;
  font-family: 'Noto Serif Display', serif;
  font-weight: bold;
  line-height: 15px;
  font-size: 17px;
}
.submit:hover {
  color: #002147;
  background-color: #f8b90c;
}

.contact_bold {
  background-color: #f8b90c;
  padding: 4rem;
  display: flex;
}
.contact_bold .connect {
  width: 50%;
}
.connect .social-links {
  background-color: #f8b90c;

  display: flex;
  justify-content: flex-end;
}
.connect_title {
  text-transform: capitalize;
  font-size: 23px;
  color: #333333;
}
.contact_bold .social-links a {
  display: inline-block;
  height: 60px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  color: #ffffff;
  /* color: #24262b; */
}
.connect .social-links .fab {
  font-size: 22px;
}
.contact_bold .social-links a:hover {
  background-color: #ffffff;
}
.connect .social-links a {
  background-color: rgba(173, 169, 169, 0.692);
}
.social-links .fa-youtube {
  color: #ff0000;
}
.social-links .fa-facebook-f {
  color: #4267b2;
}
.social-links .fa-twitter {
  color: #00acee;
}
.social-links .fa-instagram {
  color: #8a3ab9;
}

/* ================================================= */
/* ================================================= */
/* ****************section_13---footer link part****************** */

/* ================================================= */
/* ================================================= */
/* ****************section_13---footer link part****************** */

/* ================================================= */
/* ================================================= */
/* ****************section_13---footer link part****************** */

/* ================================================= */
/* ================================================= */
/* ****************section_13---footer link part****************** */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,500;1,700&family=Noto+Serif+Display:wght@200&family=Poppins&display=swap');

.section_13 {
  box-sizing: border-box;
}
.container-footer {
  padding-left: 3rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  background-color: #24262b;
}
ul {
  list-style: none;
  background-color: #24262b;
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col {
  width: 27%;
  background-color: #24262b;
}
.container-footer .row #col-1 {
  width: 42%;
  padding-right: 4rem;
}
.footer-col h4 {
  font-size: 25px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
  background-color: #24262b;
}
.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li {
  background: #24262b;
}
.footer-col ul {
  padding: 0;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  margin: 0;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
  background-color: #24262b;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 10px;
}
div.social-links {
  background-color: #24262b;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}
.fab {
  background-color: rgba(255, 255, 255, 0.2);
  background: none;
}
.footer-col ul b {
  background-color: #24262b;
}
.footer-col ul .fa-solid {
  background-color: #24262b;
  color: #f8b90c;
}

/* ================================================= */
/* ================================================= */

/********************section-`14----------------- footer section********************* */

.dev-site {
  display: flex;
  justify-content: space-between;
  background-color: rgb(5, 46, 107);
  font-size: 18px;
  padding: 1rem 3rem 1rem 3rem;
}
.made-by-name,
.school-name {
  background-color: rgb(5, 46, 107);
  font-family: 'Playfair Display', serif;
  font-family: 'Syne Mono', monospace;
  margin: 0;
  color: yellow;
  font-size: 18px;
}
.dev-site p {
  color: whitesmoke;
  /* text-decoration: none; */
}
.dev-site p a {
  text-decoration: none;
}
.copyright,
.made-by {
  background-color: rgb(5, 46, 107);
}
